<h1>Signup</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
    <a href="{% url 'login' %}">Already have account?</a>
</form>
<style>
     button {

            width: max-content;
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px;
            margin-right: 20px;
            margin-top: 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }
</style>